.block-advantages {
  background-color: @extra-light-gray;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    padding-bottom: 21px;
    padding-left: 0;
    padding-right: 0;
  }
}

.block-advantages__general {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 51px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 32px;
    padding-right: 20px;
    margin-left: 42px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0;
    padding-top: 0;
    margin-top: -44px;
    margin-left: 20px;
    margin-right: 10px;
  }
}

.block-advantages__line {
  padding-bottom: 0;
  margin-top: 36px;

  @media (min-width: @desktop-width) {
    width: 33.3333%;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 38px;
  }
}

.block-advantages__line2 {
  margin-top: 32px;

  @media (min-width: @desktop-width) {
    width: 33.3333%;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 35px;
  }
}

.block-advantages__line3 {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 33.3333%;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 39px;
  }
}

.block-advantages__title {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 24px;
  color: @black;
  margin: 0;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 0;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    font-size: @super-big;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-left: 19px;
  }
}

.block-advantages__title2 {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 24px;
  color: @black;
  margin: 0;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-top: 3px;
  }

  @media (min-width: @desktop-width) {
    font-size: @super-big;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-left: 29px;
  }
}

.block-advantages__title3 {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 24px;
  color: @black;
  margin: 0;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    font-size: @super-big;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-left: 39px;
  }
}

.block-advantages__text {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
  width: 250px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 300px;
    letter-spacing: 0.2px;
    padding-right: 9px;
  }

  @media (min-width: @desktop-width) {
    font-size: @base-font;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-top: 14px;
    padding-right: 0;
    margin-right: 51px;
    letter-spacing: 0.4px;
  }
}

.block-advantages__text2 {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
  width: 250px;
  margin: 0 auto;
  letter-spacing: 0.3px;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 300px;
    padding-right: 8px;
  }

  @media (min-width: @desktop-width) {
    font-size: @base-font;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-top: 12px;
    margin-right: 40px;
    padding-right: 0;
  }
}

.block-advantages__text-white-space {
  @media (min-width: @tablet-width) {
    white-space: pre;
  }
}

.block-advantages__text3 {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
  width: 250px;
  margin: 0 auto;
  letter-spacing: 0.3px;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 306px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: @base-font;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-top: 11px;
    margin-right: 31px;
  }
}

.block-advantages__picture {
  @media (min-width: @mobile-width-only) {
    text-align: center;
    margin-top: -5px;
  }

  @media (min-width: @tablet-width) {
    align-self: flex-start;
    width: 266px;
    height: 530px;
    object-fit: contain;
    margin-top: -14px;
    margin-left: 0;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    height: 382px;
    width: 100%;
    position: initial;
    z-index: 1;
    margin-left: 0;

    &--mobile-desktop {
      margin-right: 32px;

      @media (min-width: @desktop-width) {
        margin-left: 15px;
      }
    }

    &--mobile-desktop2 {
      margin-left: 0;
      margin-right: 29px;
    }
  }

  &--mod {
    @media (min-width: @desktop-width) {
      display: block;
      margin-top: 20px;
      width: 292px;
      height: 302px;
      object-fit: cover;
    }
  }
}

.block-advantages__picture--mobile-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 20px;
    width: 292px;
    height: 302px;
    object-fit: cover;
  }
}

.block-advantages__picture--mobile-desktop2 {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 20px;
    width: 292px;
    height: 302px;
    object-fit: cover;
  }
}

.block-advantages__wrap {
  @media (min-width: @mobile-width-only) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
}

.block-advantages__figura {
  @media (min-width: @mobile-width-only) {
    position: absolute;
    transform: rotate(180deg);
    top: -59px;
    left: -2px;
    fill: @extra-light-gray;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    transform: rotate(360deg);
    width: 899px;
    top: -3px;
    left: -136px;
    height: 55px;
    fill: @white;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    transform: rotate(360deg);
    height: 120px;
    left: -127px;
    width: 1400px;
    top: -27px;
    fill: @white;
  }
}
