.card__pictures {
  width: 320px;
  height: 200px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 499px;
  }
}
