.card {
  position: relative;
}

.card__pictures-general {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.card__pictures {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  display: table;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    height: 499px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card__goggle-card {
  @media (min-width: @mobile-width-only) {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    height: 200px;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 499px;
  }
}
