.card__pictures {
  width: 320px;
  height: 200px;
  object-fit: cover;
  object-position: left top;


  @media (min-width: @tablet-width) {
    width: 660px;
    height: 374px;
    object-fit: none;
    object-position: none;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 502px;
    object-fit: none;
    object-position: none;
  }
}
