.contact-information__block {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.contact-information__block-question {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  text-align: center;
  color: @dark-blue;
  background-color: @white;
}

.contact-information__communication-block {
  @media (min-width: @tablet-width) {
    align-self: center;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
  }
}

.contact-information__communication-block-action {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 25px;
  text-align: center;
  color: @dark-blue;
}

.contact-information__communication-block-details {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 33px;
  text-align: center;
  color: @fuchsia;
}

.contact-information {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.contact-information__firstsecond {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.contact-information__general {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}
