.contact-information__block {
  width: 320px;
}

.contact-information__block-question {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  text-align: center;
  color: @dark-blue;
  background-color: @white;
}

.contact-information__communication-block {
  width: 320px;
}

.contact-information__communication-block-action {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 25px;
  text-align: center;
  color: @dark-blue;
}

.contact-information__communication-block-details {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 33px;
  text-align: center;
  color: @fuchsia;
}
