
.effect-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: @super-big;
  line-height: 36px;
  color: @black;
}

.effect-block__description {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
}

.effect-block__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: @fuchsia;
}

.effect-block {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}
