.footer-items {
  width: 320px;
  height: 284px;
  background-color: @white;
  padding: 40px 87px 41px 88px;
}

.footer-items__developed-by-text {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 18px;
  color: @dark-blue;
  text-decoration: none;
}
