.form-block-textarea {
  background-color: @white;
  width: 320px;
}

.form-block-textarea__text {
  font-style: normal;
  font-weight: normal;
  font-size: @base-font;
  line-height: 30px;
  color: @dark-blue;
}

.form-block-textarea__description {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 18px;
  text-transform: uppercase;
  color: @fuchsia;
}
