.form-block-radio {
  width: 320px;
  height: 340px;
  background-color: @extra-light-gray;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    background-color: @white;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }
}

.form-block-radio__description {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 18px;
  text-transform: uppercase;
  color: @fuchsia;
}

.form-block-radio__items {
  font-style: normal;
  font-weight: normal;
  font-size: @base-font;
  line-height: 30px;
  align-items: center;
  color: @dark-blue;
  margin-bottom: 62px;
}
