.form-block-contacts {
  background-color: @white;
}

.form-block-contacts__form-block-label {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  color: @fuchsia;
}

.form-block-contacts__form-block-input {
  font-style: normal;
  font-weight: normal;
  font-size: @base-font;
  line-height: 30px;
  color: @dark-blue;
  border: 2px solid @light-gray;
  outline: none;
}
