.form-block__label {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  color: @fuchsia;
  padding-left: 20px;
}

.form-block__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: @base-font;
  line-height: 30px;
  color: @dark-blue;
  outline: none;
}

.form-block__input {
  font-style: normal;
  font-weight: normal;
  font-size: @base-font;
  line-height: 30px;
  color: @dark-blue;
  width: 276px;
  height: 59px;
  border: 2px solid @light-gray;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 521px;
    margin-bottom: 56px;
  }
}

.form-block__description {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 18px;
  text-transform: uppercase;
  color: @fuchsia;
}

.form-block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(6, 0.5fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
}
