.form-block-checkbox__items + label::before {
  @media (min-width: @mobile-width-only) {
    content: " ";
    display: inline-block;
    margin-right: 25px;
    text-align: center;
    background: @white;
    border: 1px solid @light-gray;
    vertical-align: middle;
    width: 35px;
    height: 35px;
  }

  @media (min-width: @desktop-width) {
    width: 35px;
    height: 35px;
  }
}

.form-block-checkbox__items + label:hover::before {
  box-shadow: 0 0 0 2px @dark-blue;
}

.form-block-checkbox__items + label:active::before {
  box-shadow: 0 0 0 2px @fuchsia;
}

.form-block-checkbox__items:focus + label::before {
  box-shadow: 0 0 0 2px @dark-blue;
}

.form-block-checkbox {
  background-color: @extra-light-gray;
  padding-left: 18px;
  padding-top: 38px;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    background-color: @white;
    order: 3;
    padding: 0;
    margin-top: 72px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid @light-gray;
    border-radius: 1px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: -1;
    display: grid;
    width: 100%;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 54px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.form-block-checkbox__description {
  @media (min-width: @mobile-width-only) {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: @small-font;
    line-height: 18px;
    text-transform: uppercase;
    color: @fuchsia;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 0;
    margin-bottom: 41px;
    letter-spacing: 0.2px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-block-checkbox__description-hidden {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 18px;
  text-transform: uppercase;
  color: @fuchsia;
  margin: 0;
  text-align: center;

  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    background-color: @white;
    width: 480px;
    margin-left: 69px;
    padding-bottom: 32px;
    margin-top: -13px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 249px;
    margin-right: 230px;
    margin-top: -9px;
    width: 433px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
    border-top: none;
  }
}

.form-block-checkbox__filter {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    padding-left: 25px;
    margin-bottom: 48px;

    &--margin {
      margin-bottom: 55px;
    }

    &--padding-top {
      padding-top: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
    margin-bottom: 27px;
  }

  &--akula {
    @media (min-width: @mobile-width-only) {
      margin-bottom: 44px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: @desktop-width) {
      order: -1;
      margin-bottom: 14px;
      padding-left: 20px;
      margin-top: 43px;
    }
  }

  &--obgorel {
    @media (min-width: @mobile-width-only) {
      margin-bottom: 45px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      margin-top: 47px;
    }

    @media (min-width: @desktop-width) {
      margin-top: -9px;
      padding-left: 20px;
    }
  }

  &--chack {
    @media (min-width: @mobile-width-only) {
      margin-bottom: 45px;
    }

    @media (min-width: @tablet-width) {
      margin-top: 44px;
      margin-bottom: 40px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-top: 44px;
      margin-left: 17px;
      order: -1;
    }
  }

  &--padding-top {
    @media (min-width: @mobile-width-only) {
      margin-bottom: 45px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 44px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 1px;
      margin-top: -10px;
      padding-left: 3px;
      margin-bottom: 0;
      margin-left: 77px;
    }
  }

  &--bashnya {
    @media (min-width: @mobile-width-only) {
      margin-bottom: 46px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 46px;
      margin-left: 14px;
      padding-left: 28px;
      order: -1;
    }
  }

  &--margin {
    @media (min-width: @mobile-width-only) {
      margin-bottom: 40px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 47px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 30px;
      margin-top: -9px;
      margin-left: 26px;
    }
  }
}

.form-block-checkbox__checkboxes {
  list-style: none;
  padding-left: 0;
  margin-left: -7px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    margin-top: 14px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 200px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 18px;
  }
}

.form-block-checkbox__items:checked + label::before {
  background-image: url("../img/icon-yes-red.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-block-checkbox__answer {
  padding-left: 0;
  font-size: 18px;
  margin-left: 9px;
  letter-spacing: 0.3px;
}
