.main-block-information {
  background-color: #1d2631;
  width: 320px;
  height: 733px;
}

.main-block-information__description {
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  font-style: normal;
  color: @white;
  text-align: center;
  padding: 29px 20px 34px;
}

.main-block-information__download-button {
  font-weight: bold;
  font-style: normal;
  font-size: @base-font;
  line-height: 18px;
  color: @white;
  border: 3px solid @white;
  border-radius: 29px;
  text-decoration: none;
  margin: 28px 20px 38px;
  text-align: center;
  padding: 28px 20px;
}

.main-block-information__application-systems {
  width: 320px;
  height: 280px;
  margin-top: 38px;
  text-align: center;
}

.main-block-information__examples {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
  padding: 31px 20px 38px;
}
