.main-block-descripton {
  width: 320px;

  @media (min-width: @tablet-width) {
    font-size: @super-super-big;
    line-height: 120%;
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    font-size: @extra-big;
    line-height: 68px;
  }
}

.main-block-descripton__description-text {
  width: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  color: @dark-blue;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @super-super-big;
    line-height: 54px;
    width: 660px;
  }

  @media (min-width: @tablet-width) {
    font-size: @extra-big;
    line-height: 68px;
    width: 960px;
  }
}
