.main-block-photo {
  background: url("../img/bg-back-mobile@1x.jpg");
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 78px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 127px;
    background-position: 50% 30%;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 74px;
    padding-bottom: 102px;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.main-block-photo__heading {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 33px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @extra-big;
    line-height: 68px;
  }
}

.main-block-photo__headingform {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 33px;
  color: @white;
  padding-top: 81px;
  text-align: center;
  width: 230px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: @extra-big;
    line-height: 68px;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 750px;
  }
}

.main-block-photo__description-text {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  color: @dark-blue;
  background-color: @white;
  padding-top: 54px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @base-font;
    display: flex;
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 572px;
    margin: 0 auto;
  }
}

.main-block-photo__description-textform {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  color: @dark-blue;
  background-color: @white;
  padding-top: 54px;
  padding-bottom: 55px;
  margin: 0 auto;
  text-align: center;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: @base-font;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    width: 750px;
    padding-bottom: 80px;
  }
}

.main-block-photo__hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
