.main-navigation {
  min-height: 64px;
  display: flex;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    margin-left: 120px;
  }
}

.main-navigation__wrapper {
  text-align: center;
}

.main-navigation__toggle {
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  order: 1;
  width: 50px;
  height: 24px;
  cursor: pointer;
  margin-left: 150px;

  &:hover {
    color: @fuchsia;
  }

  @media (min-width: @tablet-width) {
    margin-left: 400px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-navigation__list {
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-navigation__list-item {
  color: @white;
  padding-left: 87px;
  padding-right: 87px;
  width: 145px;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid @black;
  border-bottom: 1px solid @black;

  @media (min-width: @tablet-width) {
    padding-left: 257px;
    padding-right: 256px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-navigation__list-links {
  text-decoration: none;
  color: @white;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;

  &:hover {
    color: @fuchsia;
  }

  &:active {
    color: @fuchsia;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: none;
    line-height: 18px;
  }
}

.main-navigation__list-linksphoto {
  text-decoration: underline;
  color: @white;
  width: 2px;
}
