.main-block-descripton {
 @media (min-width: @tablet-width) {
   display: flex;
   justify-content: center;
 }
}

.main-block-descripton__description-text {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  color: @dark-blue;
}
