// Начните писать стили здесь

.main-block-descripton {
  background-color: @white;
  width: 280px;
  height: 134px;
  margin: 46px 20px 70px;
}

.main-block-descripton__description-text {
  font-style: normal;
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  color: @dark-blue;
  text-align: center;
}
