
.main-block-information__download-button {
  font-weight: bold;
  font-style: normal;
  font-size: @base-font;
  line-height: 18px;
  color: @white;
  border-radius: 29px;
  text-decoration: none;

}

.main-block-information__application-systems {
  width: 320px;
  height: 280px;
  margin-top: 38px;
  text-align: center;
}

.main-block-information__examples {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}

.main-block-information {
  background-color: #1d2631;
  width: 320px;
  height: 733px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

@media (min-width: @tablet-width) {
    width: 660px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

@media (min-width: @desktop-width) {
    width: 1200px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.main-block-information__photo {
  @media (min-width: @tablet-width) {
  align-self: flex-end;
 }
}

.main-block-information__description {
  font-weight: 300;
  font-size: @big-font;
  line-height: 120%;
  font-style: normal;
  color: @white;
  text-align: center;

@media (min-width: @tablet-width) {
  align-self: flex-start;
 }
}
