.page-header {
  background-color: @dark-blue;
}

.page-header__div {
  background-color: @dark-blue;
}

.page-header__logo img {
  width: 74px;
  height: 23px;
}

.page-header__logo-whitepink {
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logotoggle {
  display: flex;
}
