.page-header {
  background-color: rgba(0, 50, 50, 0.1);

  @media (min-width: @desktop-width) {
    margin-bottom: -90px;
  }

  &--firstdesk {
    position: relative;
    z-index: 1;
  }
}

.page-header__div {
  @media (min-width: @desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
  }
}

.page-header__logo img {
  width: 74px;
  height: 23px;

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.page-header__logo {
  @media (min-width: @desktop-width) {
    background-repeat: repeat;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.page-header__logotoggle {
  display: flex;
  padding-top: 22px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
  }
}

.page-header__toggle {
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  order: 1;
  width: 50px;
  height: 24px;
  cursor: pointer;
  margin-left: 150px;

  &:hover {
    color: @fuchsia;
  }

  @media (min-width: @tablet-width) {
    margin-left: 400px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
