.page-header {
  background-color: rgba(0, 50, 50, 0.1);

  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 1;
    margin-bottom: -90px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--first-desk {
    position: relative;

    @media (min-width: @mobile-width-only) and (max-width: @desktop-width - 1px) {
      background-color: transparent;

      .page-header__logo-toggle {
        position: relative;
        z-index: 1;
        padding-bottom: 18px;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.5);

        @media (min-width: @tablet-width) {
          padding-bottom: 40px;
          padding-top: 46px;
        }
      }

      .page-header__toggle {
        z-index: 1;
      }
    }
  }

  &--nojs {
    .page-header__logo-toggle {
      background: rgba(40, 54, 69, 1);
      @media (min-width: @desktop-width) {
        background: transparent;
      }
    }
  }
}

.page-header__div {
  @media (min-width: @mobile-width-only) {
    margin-bottom: -70px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: -94px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    background-color: none;
    display: flex;
  }
}

.page-header__logo img {
  width: 74px;
  height: 23px;

  @media (min-width: @tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.page-header__logo {
  fill: @white;

  @media (min-width: @desktop-width) {
    background-repeat: repeat;
    margin-left: -10px;
  }

  &--third-photo {
    @media (min-width: @desktop-width) {
      margin-left: 10px;
      margin-top: 26px;
    }
  }

  &--third-index {
    @media (min-width: @desktop-width) {
      margin-top: 26px;
      margin-left: 10px;
    }
  }

  &:hover .page-header__logo-tablet {
    fill: @fuchsia;
  }

  &:active .page-header__logo-tablet {
    fill: @white;
    opacity: 0.3;
  }
}

.page-header__logo-desktop {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-header__logo-tablet {
  @media (min-width: @mobile-width-only) {
    margin-left: -72px;
    margin-top: -18px;
  }

  @media (min-width: @tablet-width) {
    margin-left: -1px;
    margin-top: -18px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-glass {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-header__logo-toggle {
  @media (min-width: @mobile-width-only) {
    display: flex;
    padding-top: 22px;
    padding-left: 20px;
    background: @dark-blue;
    box-shadow: 0 1px 0 @black;
    margin-top: 0;
    padding-bottom: 18px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
    margin-bottom: 0;
    padding-top: 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: none;
  }

  &--nojs {
    background: @dark-blue;
  }

  &--form-third {
    @media (min-width: @desktop-width) {
      padding-left: 21px;
      padding-top: 26px;
    }
  }
}

.page-header__toggle {
  @media (min-width: @mobile-width-only) {
    fill: @white;
    background-color: transparent;
    border: 0;
    order: 1;
    width: 50px;
    height: 24px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 7px;
    position: absolute;
    padding-right: 0;
    left: 243px;
    top: -28.8px;
  }

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: 28px;
    margin-top: 20px;
    padding-right: 0;
    top: -70.8px;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:hover {
    fill: @fuchsia;
  }

  &:active {
    fill: @fuchsia;
    opacity: 0.3;
  }
}

.page-header--form {
  @media (min-width: @mobile-width-only) and (max-width: @desktop-width - 1px) {
    background-color: transparent;

    .page-header__logo-toggle {
      position: relative;
      z-index: 1;
      padding-bottom: 18px;
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.5);

      @media (min-width: @tablet-width) {
        padding-bottom: 40px;
        padding-top: 46px;
      }
    }

    .page-header__toggle {
      z-index: 1;
    }
  }
}

.page-header--photo {
  @media (min-width: @mobile-width-only) and (max-width: @desktop-width - 1px) {
    background-color: transparent;

    .page-header__logo-toggle {
      position: relative;
      z-index: 1;
      padding-bottom: 18px;
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.5);

      @media (min-width: @tablet-width) {
        padding-bottom: 40px;
        padding-top: 46px;
      }
    }

    .page-header__toggle {
      z-index: 1;
    }
  }
}

.page-header--nojs {
  .page-header__logo-toggle {
    background: rgba(40, 54, 69, 1);
    @media (min-width: @desktop-width) {
      background: transparent;
    }
  }
}

.page-header--opened {
  @media (min-width: @mobile-width-only) and (max-width: @desktop-width - 1px) {
    background: #283645;

    .page-header__logo-toggle {
      background: none;
    }
  }
}
