.photo-block-big__panorama {
  font-style: normal;
  font-weight: bold;
  font-size: @super-small-font;
  line-height: 24px;
  text-transform: uppercase;
  color: @white;
  background-color: @fuchsia;
  background-size: 101px 9px;
  position: absolute;
  right: 20px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 19px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 54px;
    right: 10px;
  }
}

.photo-block-big__picture-panorama-big {
  width: 320px;
  height: 137px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 660px;
    height: 509px;
  }

  @media (min-width: @desktop-width) {
    width: 100vw;
    max-width: 100vw;
    height: 506px;
    margin: 0 0 0 calc((100vw - 100%) / -2);
  }
}

.photo-block__picture {
  @media (min-width: @mobile-width-only) {
    width: 280px;
    height: 180px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }

  &--antonm {
    @media (min-width: @mobile-width-only) {
      margin-top: 0;
      margin-bottom: 2px;
    }
  }

  &--sergeym {
    @media (min-width: @mobile-width-only) {
      margin-top: -2px;
    }

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }
}

.photo-block-big__description-panorama {
  @media (min-width: @mobile-width-only) {
    color: @dark-blue;
    background-color: @extra-light-gray;
    padding-left: 17px;
    padding-right: 10px;
    padding-bottom: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 19px;
    margin-top: -3px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: 0;
    margin-bottom: 53px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 27px;
    padding-right: 30px;
    padding-top: 23px;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 23px;
    margin-left: 11px;
    margin-right: 9px;
  }
}

.photo-block-big__title-panorama {
  font-style: normal;
  font-weight: bold;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
  margin: 0 auto;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    margin: 0;
    padding-left: 30px;
    padding-top: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 0;
  }
}

.photo-block-big__text-panorama {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  color: @dark-blue;
  line-height: 24px;
  text-align: left;
  margin-top: 0;
  letter-spacing: 0.2px;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    width: 520px;
    margin: 0;
    padding-left: 30px;
    letter-spacing: 0.3px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 870px;
    letter-spacing: 0.2px;
    padding-left: 0;
    margin-bottom: 24px;
    margin-top: -12px;
  }
}

.photo-block-big__heart-panorama {
  fill: @fuchsia;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-right: 19px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-right: 0;
    margin-top: 3px;
  }
}

.photo-block-big__likes-panorama {
  font-style: normal;
  font-weight: normal;
  font-size: @super-small-font;
  line-height: 24px;
  color: @fuchsia;
  text-transform: uppercase;
  padding-left: 15px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    padding: 0;
    margin-right: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.photo {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 455px);
    padding-left: 20px;
    column-gap: 20px;
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 555px);
    column-gap: 21px;
    row-gap: 54px;
    padding-left: 0;
    margin-left: 9px;
    margin-top: 28px;
  }
}

.photo-block-big {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: -25px;

    &--mod {
      margin-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.photo-block__description {
  color: @dark-blue;
  background-color: @extra-light-gray;
  padding-top: 15px;
  padding-left: 17px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    width: 255px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -3px;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-left: 28px;
    padding-top: 26px;
  }
}

.photo-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.photo-block__text {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 24px;
  color: @dark-blue;
  width: 250px;
  margin-top: 0;
  margin-bottom: 11px;
  letter-spacing: 0.3px;
}

.photo-block__likeheart {
  @media (min-width: @mobile-width-only) {
    padding-top: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;

    &--paddingtop {
      padding-top: 25px;
    }

    &--padding-top2 {
      padding-top: 25px;
    }

    &--padding-top3 {
      padding-top: 25px;
    }

    &--padding-top4 {
      padding-top: 25px;
    }
  }
}

.photo-block__heart {
  fill: @fuchsia;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-right: 15px;
    margin-top: 3px;

    &--heart {
      margin-right: 0;
    }
  }
}

.photo-block__likes {
  font-style: normal;
  font-weight: normal;
  font-size: @super-small-font;
  line-height: 24px;
  color: @fuchsia;
  text-transform: uppercase;
  padding-left: 16px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.photo-block-big__title-time {
  font-style: normal;
  font-weight: 300;
  font-size: @super-small-font;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-block-big__flex {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 25px;
    padding-right: 0;

    @media (min-width: @desktop-width) {
      padding-top: 0;
      padding-right: 0;
    }
  }
}

.photo-block {
  &--borism {
    @media (min-width: @mobile-width-only) {
      margin-top: 21px;
    }

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  &--sergey {
    @media (min-width: @mobile-width-only) {
      margin-top: 26px;
    }

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  &--maksim {
    @media (min-width: @mobile-width-only) {
      margin-top: 22px;
    }

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }
  }

  &--nadezhda {
    @media (min-width: @mobile-width-only) {
      padding-top: 2px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 0;
    }
  }
}
