.price__block-title {
  font-style: normal;
  font-weight: bold;
  font-size: @middle-font;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background-color: @dark-blue;
  height: 94px;
  width: 276px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
  margin-top: 2px;
}

.price__block-hit {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  color: @white;
  background-color: @fuchsia;
  transform: rotate(-45deg);
  width: 40px;
  height: 23px;
  position: absolute;
  left: -33px;
  top: 16px;
  bottom: 62px;
  padding-left: 40px;
  padding-right: 42px;
}

.price__block-table-hit {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  color: @white;
  background-color: @fuchsia;
  transform: rotate(-45deg);
  width: 40px;
  left: -30px;
  top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;

  @media (min-width: @tablet-width) {
    top: 7px;
    left: -40px;
    bottom: 48px;
    padding-left: 41px;
    padding-right: 49px;
    padding-bottom: 0;
    margin-top: 4px;
    margin-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 44px;
    top: 7px;
    bottom: 57px;
    left: -40px;
    margin-top: 11px;
    margin-left: 6px;
  }
}

.price__block-table-hit-hit {
  text-transform: uppercase;
  margin-right: 35px;
  display: block;
  margin-top: -7px;
  margin-left: 5px;
}

.price__block-filter {
  width: 276px;
  height: 59px;
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-blue;
  background-color: @white;
  border: 2px solid @light-gray;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.price__block-filter-span {
  margin-left: 18px;
  letter-spacing: 0.3px;
}

.price__block {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__block-table-general {
  border-spacing: 1;
  empty-cells: hide;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.price__block-table {
  border-spacing: 1;
  empty-cells: hide;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-bottom: 0;
    margin-right: 18px;
    margin-left: 22px;
    margin-top: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    margin-left: 7px;
    margin-right: 0;
    margin-top: 4px;
    width: 945px;
  }
}

td {
  width: 940px;
  padding: 0;
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  background-color: #ffffff;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: @base-font;
  }
}

.price__block-tarif {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #283645;
  position: relative;
  overflow: hidden;
  padding-left: 36px;
  padding-right: 33px;

  @media (min-width: @desktop-width) {
    padding-left: 48px;
    padding-right: 41px;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 25px;
  }
}

.price__block-yes {
  @media (min-width: @tablet-width) {
    fill: @green;
    padding-left: 0;
    padding-top: 6px;
  }
}

.price__block-no {
  @media (min-width: @tablet-width) {
    fill: @orange;
    padding-left: 0;
    padding-top: 6px;
  }
}

.price__block-tarif2 {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #283645;
  position: relative;
  overflow: hidden;
  padding-left: 19px;
  padding-right: 9px;

  @media (min-width: @desktop-width) {
    padding-left: 18px;
    padding-right: 15px;
    padding-top: 5px;
  }
}

.price__block-tarif3 {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #283645;
  position: relative;
  overflow: hidden;
  padding-left: 17px;
  padding-right: 29px;

  @media (min-width: @desktop-width) {
    padding-right: 32px;
    padding-left: 25px;
    padding-top: 5px;
  }
}

.price {
  margin-left: 2px;
  margin-right: auto;
  background-color: @extra-light-gray;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 93px;
    margin-top: 144px;
    margin-bottom: 53px;
    overflow: hidden;
    width: 100%;
  }
}

.price__block-toggles {
  @media (min-width: @mobile-width-only) {
    padding-top: 43px;
    margin: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    display: flex;
    margin-left: 91px;
  }
}

.price__block-toggles-non-current {
  fill: @dark-blue;
  opacity: 0.3;
  margin-top: -42px;
  margin-left: 12px;

  &:hover {
    fill: @dark-blue;
    opacity: 0.6;
  }

  &:active {
    fill: @dark-blue;
    opacity: 0.1;
  }
}

.price__block-toggles-non-current2 {
  fill: @dark-blue;
  opacity: 0.3;
  margin-top: -42px;
  margin-left: 5px;

  &:hover {
    fill: @dark-blue;
    opacity: 0.6;
  }

  &:active {
    fill: @dark-blue;
    opacity: 0.1;
  }
}

.price__block-toggles--current {
  background-image: url("../img/currentslider.svg");
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  margin-left: 6px;
  margin-top: -3px;
}

.price__block-title-together {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 13px;
}

.price__block-title-standard {
  @media (min-width: @mobile-width-only) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: @middle-font;
    line-height: 30px;
    margin-left: -3px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
}

.price__block-tarif-standard2 {
  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: @middle-font;
    line-height: 30px;
    margin-left: -5px;
    margin-top: 0;
    letter-spacing: 1px;
  }

  @media (min-width: @desktop-width) {
    text-transform: uppercase;
    font-size: @base-font;
  }
}

.price__block-tarif-standard3 {
  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: @middle-font;
    line-height: 30px;
    margin-right: -2px;
    margin-top: 0;
    letter-spacing: 1px;
    padding-left: 4px;
  }

  @media (min-width: @desktop-width) {
    text-transform: uppercase;
    font-size: @base-font;
  }
}

.price__block-title-price {
  font-style: normal;
  font-weight: 300;
  font-size: @base-font;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: -4px;
  min-height: 45px;
}

.price__block-type {
  font-size: @small-font;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    height: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    height: 59px;
  }
}

.price__block-tarif-together {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.price__block-tarif-standard {
  margin: 0;
  font-size: @middle-font;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.price__block-tarif-price {
  font-style: normal;
  font-weight: 300;
  font-size: @base-font;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: @big-font;
  }
}

.price__block-tarif-price2 {
  font-style: normal;
  font-weight: 300;
  font-size: @base-font;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-right: 6px;
  }

  @media (min-width: @desktop-width) {
    font-size: @big-font;
  }
}

.price__block-tarif-price3 {
  font-style: normal;
  font-weight: 300;
  font-size: @base-font;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-right: -9px;
  }

  @media (min-width: @desktop-width) {
    font-size: @big-font;
  }
}

.price__block-filter-svg {
  margin-left: 78px;
  fill: @green;
}

.price__block-filter-svg2 {
  margin-left: 129px;
  fill: @green;
}

.price__block-filter-svg3 {
  margin-left: 102px;
  fill: @orange;
}

.price_block-pink {
  @media (min-width: @tablet-width) {
    letter-spacing: 0.2px;
  }
}

.price__block-smile {
  text-align: left;
}

.price__block-pink {
  text-align: left;
}

.price__block-comment {
  text-align: left;
}

.price__block-ober {
  margin-left: 13px;
  letter-spacing: 0.3px;

  @media (min-width: @desktop-width) {
    margin-left: 23px;
  }
}

.price__block-ober2 {
  margin-left: 14px;
  letter-spacing: 0.3px;

  @media (min-width: @desktop-width) {
    margin-left: 24px;
  }
}

.price__block-ober3 {
  margin-left: 14px;
  margin-top: -1px;
  letter-spacing: 0.3px;

  @media (min-width: @desktop-width) {
    margin-left: 23px;
    letter-spacing: -0.2px;
  }
}

.price__figura {
  position: absolute;
}
