.upload-block {
  width: 320px;
}

.upload-block__title {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  text-align: center;
  background-color: @white;
  color: @dark-blue;
}

.upload-block-photo {
  width: 320px;
  background-color: @extra-light-gray;
}

.upload-block-instruments {
  background-color: @extra-light-gray;
  width: 320px;
}

.upload-block-instruments__button1 {
  background-image: url("../img/icon-editor-crop.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding-left: 57px;
  padding-top: 42px;
  padding-bottom: 39px;
}

.upload-block-instruments__button2 {
  background-image: url("../img/fill.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding-left: 57px;
  padding-top: 42px;
}

.upload-block-instruments__button3 {
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding-left: 57px;
  padding-top: 42px;
}

.upload-block-share {
  width: 320px;
}

.upload-block-share__button1 {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 18px;
  text-align: center;
  color: @fuchsia;
  border: 3px solid @fuchsia;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 91px;
  padding-right: 90px;
}

.upload-block-share__button2 {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 18px;
  text-align: center;
  color: @dark-blue;
  background-color: @extra-light-gray;
  opacity: 0.1;
  border: 3px solid @dark-blue;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 91px;
  padding-right: 90px;
}
