.upload-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 44px;
    margin-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
    margin-bottom: 75px;
  }
}

.upload-block__title {
  font-style: normal;
  font-weight: normal;
  font-size: @small-font;
  line-height: 30px;
  text-align: center;
  background-color: @white;
  color: @dark-blue;

  @media (min-width: @tablet-width) {
    display: none;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.upload-block__title-hidden {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    line-height: 30px;
    display: block;
    font-size: @base-font;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: @base-font;
  }
}

.upload-block__instruments {
  background-color: @extra-light-gray;
  width: 320px;
  display: flex;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.upload-block__instruments-button {
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding-left: 57px;
  padding-top: 42px;
  padding-bottom: 39px;
}

.upload-block__photo {
  width: 280px;
  height: 374px;
  background-color: @extra-light-gray;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.upload-block__share {
  width: 320px;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.upload-block__share-button1 {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 18px;
  text-align: center;
  color: @fuchsia;
  border: 3px solid @fuchsia;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 91px;
  padding-right: 90px;
}

.upload-block__share-button2 {
  font-style: normal;
  font-weight: bold;
  font-size: @base-font;
  line-height: 18px;
  text-align: center;
  color: @dark-blue;
  background-color: @extra-light-gray;
  opacity: 0.1;
  border: 3px solid @dark-blue;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 91px;
  padding-right: 90px;
}

.upload-block__hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.upload-block__scale {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.upload-block__general {
  margin-left: auto;
  margin-right: auto;
  background-color: @extra-light-gray;

  @media (min-width: @tablet-width) {
    display: flex;
    background-color: @extra-light-gray;
  }
}

.upload-block__rangebuttons {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}
