img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page-main-center {
  max-width: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  width: 320px;
}

.container {
  width: 100%;
}

.size {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @mobile-width-only) {
    width: 320px;
  }

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-main {
  overflow: hidden;
}

.footer-page {
  overflow: hidden;
}
