@white: #FFFFFF;
@extra-light-gray: #F2F2F2;
@light-gray: #E5E5E5;
@orange: #F25B26;
@fuchsia: #D22856;
@green: #3DC644;
@standard-green: #2AAB6D;
@hover-green: #1C9B5E;
@dark-blue: #283645;
@black: #000000;
@extra-big: 50px;
@super-super-big: 40px;
@super-big: 30px;
@big-font: 24px;
@standard-font: 21px;
@base-font: 18px;
@middle-font: 16px;
@small-font: 14px;
@super-small-font: 12px;
@mobile-width-only: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
